body{
	background: White;
	color: Black;
	font-family: verdana, geneva, sans-serif;
}
a{
	color: #DE4220;
}
#myNameAddress{
	background: #0C5DBE;
	color: #FBE999;
}
#myNutShell{
	background: #2B5C66;
	color: #E7B956;
}
#myProExp{
	background: #D4CA8F;
	color: #201061;
}
#myMadSkillzYo{
	background: #DE4220; 
	color: #201061;
}
.progress-bar{
	background: #2B5C66;
}
h1,h2,h3,h4,h5,h6{
	text-shadow: 0px 0px 0px #000000;
}
