body{
	background: White;
	color: Black;
	font-family: verdana, geneva, sans-serif;
}
a{
	color: #edd4c9;
}
#myNameAddress{
	background: #3055aa;
	color: #edd4c9;
}
#myNutShell{
	background: #6d83a7;
	color: #edd4c9;
}
#myProExp{
	background: #3055aa;
	color: #edd4c9;
}
#myMadSkillzYo{
	background: #6d83a7;
	color: #edd4c9;
}
.progress-bar{
	background: #3055aa;
}
h1,h2,h3,h4,h5,h6{
	text-shadow: 2px 2px 3px #000000;
}
